/*Estilo en cascada para index.html*/

body    {
    padding: 0%;
    margin: 0%;
}

/*Estilo cabecera*/
#cabecera   {
        font-family: sans-serif;
        position: sticky;
        top: 0%;
        background: linear-gradient(to right, black, rgb(39, 39, 39));
        color: white;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 28px;
        z-index: 2;
    }

#rosa   {
    position: absolute;
    width: 300px;
    top:0px;
    left:0px;
    margin: -30px 0px 0px 10px;
    z-index: -1;
    opacity: 20%;
    overflow: hidden;
}

#monarca    {
        position:static;
        width: 250px;
        top:0px;
        left:0px;
        margin: 30px;
        z-index: 1;
        opacity: 30%;
        overflow: hidden;
        float: right;
        margin-left: -200px;  
    }

#titulo     {
        font-size: 60px;
        padding: 30px 20px;
        margin-bottom: 20px;
        width: 800px;
        
    }

/*Clase para separación de span en el navegador*/
.separacion {
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
    }

.separacion span     {
                margin-left: 50px;
             }

.separacion span a  {
                color:white;
                text-decoration: none;
            }
/*Clase para letra del navegador*/

.navegador:hover    {
                color: gold;
            }

/*TITULO BIOGRAFIA*/
.biografia  {
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                font-style: oblique;
                font-size: 80px;
                background: linear-gradient(to bottom, rgb(105, 0, 0), rgb(105, 0, 0), rgb(255, 255, 255));
                padding-bottom: 90px;
                top:0%;
                
            }

#biografia      {
                    margin-top: 0px;
                    padding: 20px 20px;
                    text-decoration: underline white 10px;
                    color: white;
                }

.margen {
            margin-left: 500px;
            margin-right: 500px;
        }
/*Imágenes nacimiento*/

#h2 {
        text-align: center;
    }
.galeria    {
                position: relative;
                margin-top: 30px;
                margin-bottom: 50px;
            }

#tamanoeladio {
            position: absolute;
            width: 400px;
            height: 400px;
        }

#tamanopr {
            position: absolute;
            width: 450px;
            height: 250px;
            margin: 5px;
            top: 400px;
            
        }

/*Natación*/

.nadador h2  {
                text-align: right;
            }

.nadador    {
                
                margin-top: 100px;
                padding-bottom: 50px;
            }

#nadador    {  
                position: relative; 
                width: 900px;
                height: 500px;
                margin-right: 10px;
                float: left;
            }

#nadador2    {  
                position: relative; 
                width: 800px;
                height: 400px;
                margin-right: 10px;
                float: left;
            }

/*Carrera*/
.estilo {
            background: linear-gradient(to bottom, white, gold);
            margin: 0;
            padding: 0;
        }

#alejarme   {
                position: relative;
                float: right;
                width: 300px;
                height: 300px;
                margin-left: 20px;
            }

/*Flows*/

.flow   {
            padding-top: 60px;
            text-align: justify;
        }

.flow h2    {
                text-align: center;
            }

.flow video {
                position: static;
                margin-left: 200px;
                width: 500px;
                left: 400px;
            }

.flow img {
                position: static;
                float:left;
                width: 300px;
                left: 300px;
                margin-right: 20px;
            }

/*Influencia*/

.influencia {
                margin-top: 90px;
            }

.concierto {
                position: static;
                width:600px;
                height: 300px;
                float: left;
                margin-right: 20px;
    
            }

/*Vida personal*/

.vida {
                margin-top: 120px;
                text-align: justify;
                padding-bottom: 100px;
            }

.vida h2    {
                text-align: right;
            }

.kemba {
                position: static;
                width:300px;
                height: 300px;
                float: left;
                margin-right: 20px;
    
            }

h2{
                color: rgb(0, 0, 0);
                font-size: 50px;
                font-style: italic;
                font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
            }
           
p{
                font-size: 20px;
                line-height: 200%;
                font-family: Arial, Helvetica, sans-serif;
            }

span    {
            font-weight: bolder;
        }

